@charset "utf-8";
body {
    background:#FFF;
    margin: 0px;  
    font-family: Dosis, sans-serif;
    font-size:20px;
}
h1{color:#3E3E5A;}
h2{color:#3E3E5A;}
p{color:#3E3E5A;}

#inicio a {
    float: left;
    padding: 10px;
    margin-left: 100px;
    text-align: justify;
    font-size: 24px;
    font-weight: bold;
    color:#3E3E5A;
}

#formulario{ 
    width: 980px;
    float: left;
    padding: 50px;
    margin: auto;
    text-align: justify;}

#formulario input{
    height:40px;
    width:480px;
    margin-bottom:10px;
    font: 20px Tahoma;
    color:#6F5E4F;
}	

#formulario label{
    height:40px;
    width:80px;
    float: left;
    font: 20px Tahoma;
    color:#6F5E4F;
    resize:none;
}

#formulario a {
    font-size: 24px;
    font-weight: bold;
    color:#3E3E5A;
}

#formulario a:HOVER {
    text-decoration: underline;
    color: #36364D;
}

